:root{
    --text-shadow-color: #000000;
    --fire-link-hover-color: #800000;
    --fire-header-color: #ff8c00;
    --footer-text-shadow-color: #ff4500;
    --fire-font-color: #ffff00;
    --fire-bg-color: #b22222;
}
#fire_starting_webpage{
    background-color: var(--fire-bg-color);
} 
#fire_starting_title{
    font-family: "Knewave", fantasy;
    font-size: 60px;
    color: var(--fire-header-color);
    text-shadow: 2px 2px var(--text-shadow-color);
    margin-left: 5px;
}
#survivor_44_campfire_image{
    margin-left: 100px;
}
#fire_starting_description, #fire_starting_steps, #fire_heads_up{
    font-family: "Knewave", sans-serif;
    font-size: 30px;
    color: var(--fire-font-color);
    background-color: var(--fire-header-color);
    border: 40px solid var(--fire-bg-color);
    padding: 5px;
}
.fire_navigation_links{
    font-family: "Knewave", sans-serif;
    font-size: 30px;
    color: var(--fire-font-color);
}
.fire_navigation_links:hover{
    color: var(--fire-link-hover-color);
}
#home{
    position: initial;
    left: 100px;
    top: 150;
    font-family: "Knewave", monospace;
    color: var(--fire-header-color);
    font-size: 30pt;
}
#home:hover{
    color: var(--fire-font-color);
}
.survivor_footer{
    background-image: url("bamboo_background.jpeg");
    color: var(--fire-font-color);
    text-shadow: 1px 1px var(--footer-text-shadow-color);
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 5px;
}
.copyright_link, .storage_link{
    color: var(--fire-font-color);
}
.copyright_link:hover, .storage_link:hover{
    color: var(--fire-header-color);
}
@media (max-width: 800px){
    #fire_starting_title{
        font-size: 45px;
        margin-left: 20px;
    }
    #survivor_44_campfire_image{
        margin-left: 50px;
        width: 600px;
        height: 600px;
    }
    #fire_starting_description, #fire_starting_steps, #fire_heads_up{
        margin-right: 20px;
    }
    .survivor_footer{
        width: 95%;
        margin-left: 5px;
    }
}
@media (max-width: 500px){
    #fire_starting_title{
        margin-left: 55px;
    }
    #survivor_44_campfire_image{
        margin-left: 0px;
        margin-right: 60px;
        width: 400px;
        height: 400px;
    }
    #fire_starting_description, #fire_starting_steps, #fire_heads_up{
        margin-left: 70px;
        margin-right: 0px;
    }
    .survivor_footer{
        width: 100%;
        margin-left: 25px;
    }
}